/UnityPackageManager
/Library
/ProjectSettings
/unity1711251025.Editor.Plugins.csproj
/unity1711251025.Plugins.csproj
/unity1711251025.sln
/unity1711251025.csproj
/unity1711251025.Editor.csproj
/Assets/06.Sounds
/Assets/Standard Assets
